---
const pageTitle = "About Me";

const identity = {
firstName: "Sarah",
country: "Canada",
occupation: "Technical Writer",
hobbies: ["photography", "birdwatching", "baseball"],
}

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro"]
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About</title>
	</head>
	<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
		<h1>About Page</h1>
    <p>I'm working through the introductory tutorial of the Astro Framework</p>
    <p>Currently building the "About" page for the blog</p>
	</body>
</html>
